
<!-- Barra superior -->
<div class="p-2 border-info border flex-fill">Flex item</div>
<!-- Barra inferior -->
<div class="p-2 border-info border d-flex flex-row" style="height: 300px;">
    <button type="button" class="btn btn-secondary square-button fs-6 m-1" style="height: 80px; width: 100%;">
        <i class="fas fa-coins fs-4"></i>
        <span class="d-block">
            Cal. Vueltas
        </span>
    </button>
    <button type="button" class="btn btn-secondary square-button fs-6 m-1" style="height: 80px; width: 100%;">
        <i class="fas fa-user-pen d-block fs-4"></i>
        <span class="d-block">
            Fiar a cliente
        </span>
    </button>
    <button type="button" class="btn btn-secondary square-button fs-6 m-1" style="height: 80px; width: 100%;">
        <i class="fas fa-barcode d-block fs-4"></i>
        <span class="d-block">
            Ingresar cód.
        </span>
    </button>
    <button type="button" class="btn btn-success square-button fs-6 m-1" style="height: 80px; width: 100%;" disabled>
        <i class="fas fa-cash-register d-block fs-4"></i>
        <span class="d-block">
            Realizar orden
        </span>
    </button>
</div>