<style>
    .dropdown-item:hover {
        background-color: rgba(136, 136, 136, 0.22);
    }
</style>
<!-- Barra superior -->
<div class="border border-info flex-fill d-flex flex-column" style="min-height: 0;">
    <div class="card-body p-0 pt-2 w-100 d-flex nav-tabs" style="flex: 0 0 0;">
        <ul class="nav flex-grow-1">
            <li class="nav-item">
                <a class="nav-link active" href="/posView" id="actualOrder">Orden actual</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="allOrders" href="/pos?page=1">Ordenes</a>
            </li>
        </ul>
        <div class="dropstart p-1">
            <div class="btn-group">
                <button class="btn btn-outline-secondary" type="button" id="dropdbtn"><span class="fas fa-angle-left"></span></button>
                <a class="btn btn-outline-danger" href="/"><span class="fas fa-xmark fs-5"></span></a>
            </div>
            <ul class="dropdown-menu" id="dropd" style="left: auto; right: 100%; top: 0;">
              <li><button class="dropdown-item btn" id="recieve">Recibir pedido</button></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Separated link</a></li>
            </ul>
            
        </div>
                
    </div>
    <div id="cart_product" class="overflow-auto" style="min-height: 0;">
    </div>
</div>
<!-- Barra inferior -->
<div class="p-2 border-info border" style="height: 300px;">
    <!-- Barra inferior - superior -->
    <div style="height: 70%;">
        <!-- Resumen de orden -->
        <div class="summary" style="height: 100px;">
            <p class="fw-normal">
                <b>SUBTOTAL: </b>
                <span id="sSubtotal">
                    0
                </span><br>
                <b>IVA: </b>
                <span id="sIva">
                    0
                </span><br>
                <span class="fs-4">
                <b>TOTAL: </b>
                <span id="sTotal">
                    0
                </span>
                </span>
            </p>
        </div>
        <!-- Seleccion cliente -->
        <div class="input-group mb-3 d-none">
            <select class="form-select">
                <option selected>Seleccione un cliente:</option>
                <option value="1">Cliente</option>
            </select>
            <button class="btn btn-outline-secondary" type="button">Aceptar</button>
        </div>
        <!-- Código de barras -->
        <div class="input-group mb-3" id="inputBarCode" style="display: none;">
            <span class="input-group-text"><span class="fas fa-barcode"></span></span>
            <input type="text" class="form-control" id="bar-code" placeholder="Seleccione para ingresar código de barras" aria-label="Código de barras">
            <label class="btn btn-outline-secondary" id="submitBC" for="bar-code">Agregar</label>
        </div>
        <!-- Guardar en borrador -->
        <button class="btn btn-outline-primary w-100" id="btnDraft" type="button" disabled>Guardar en borrador</button>
    </div>
    <!-- Barra inferior - inferior -->
    <div class="border-top" style="height: 30%;">
        <!-- Botones de orden -->
        <div class="d-flex flex-row">
            <button type="button" class="btn btn-secondary square-button fs-6 m-1" style="height: 80px; width: 100%;">
                <i class="fas fa-coins fs-4"></i>
                <span class="d-block">
                    Cal. Vueltas
                </span>
            </button>
            <button type="button" class="btn btn-secondary square-button fs-6 m-1" style="height: 80px; width: 100%;">
                <i class="fas fa-user-pen d-block fs-4"></i>
                <span class="d-block">
                    Fiar a cliente
                </span>
            </button>
            <input type="checkbox" class="btn-check" id="btnBarCode" autocomplete="off">
            <label class="btn btn-outline-secondary square-button fs-6 m-1" style="height: 80px; width: 100%;" for="btnBarCode">
                <i class="fas fa-barcode d-block fs-4"></i>
                <span class="d-block">
                    Ingresar cód.
                </span>
            </label>
            <button type="button" class="btn btn-success square-button fs-6 m-1" style="height: 80px; width: 100%;" disabled>
                <i class="fas fa-cash-register d-block fs-4"></i>
                <span class="d-block">
                    Realizar orden
                </span>
            </button>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('#dropdbtn').click(function() {
            $('#dropd').toggle();
        });
    });
</script>