<style>
    .product_item {
        cursor: pointer;
    }
</style>
<div class="overflow-auto p-1" style="height: 100%;">
    <h3 class="m-0">Productos</h3>
    <table id="productos" class="display table table-striped table-bordered table-hover dataTable" style="width:100%;">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Categoria</th>
                <th>Inventario</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr class="product_item">
                <td>{{ product.product.name }}</td>
                <td>{{ product.product.sell_price }}</td>
                <td>{{ product.product.category }}</td>
                <td>{{ product.stock }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Categoria</th>
                <th>Inventario</th>
            </tr>
        </tfoot>
    </table>
</div>