<div class="d-flex align-items-stretch border-secondary border-top border-bottom p-1 mb-2 mt-2">
    <div class="flex-fill">
        <!-- Barra lateral izquierda -->
         <!-- Barra superior -->
        <div class="flex-fill">
            <b class="m-1 fs-6">Producto</b>
        </div>
        <!-- Barra inferior -->
        <div class="p-2" style="height: 50px;">
            <div class="input-group">
                <button type="button" class="btn btn-outline-secondary">-</button>
                <input type="number" name="" id="" class="form-control" placeholder="0">
                <button type="button" class="btn btn-outline-secondary">+</button>
            </div>
        </div>
    </div>
    <div class="" style="width: 150px;">
        <!-- Barra lateral derecha -->
         <div id="pPrice" class="text-center h-100 align-content-center">
            <h4>
                $
                <span>4000</span>
            </h4>
         </div>
    </div>
</div>