<div class="d-flex align-items-stretch border-secondary border-top border-bottom p-1 mb-2 mt-2">
    <div class="flex-fill">
        <!-- Barra lateral izquierda -->
         <!-- Barra superior -->
        <div class="d-flex justify-content-between mt-3 mb-3">
            <b class="m-1 fs-6">Producto</b>
            <div class="input-group" style="width: 500px;">
                <button type="button" class="btn btn-outline-secondary">-</button>
                <input type="number" name="" id="" class="form-control" placeholder="0">
                <button type="button" class="btn btn-outline-secondary">+</button>
            </div>
            <div class="" style="width: 150px;">
                <!-- Barra lateral derecha -->
                <div id="pPrice" class="text-center h-100 align-content-center">
                    <h4>
                        $
                        <span>4000</span>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>