{% extends "../sidebar.html" %}

{% block body %}
{% load static %}
<script src="{% static 'js/jquery-3.7.1.js' %}"></script>
<script src="{% static 'js/jquery.priceformat.min.js' %}"></script>
<div class="container align-content-start overflow-auto text-center" style="margin:  5rem auto; width: 1000px;">
    <div class="form-group">
        <h3 class="m-0">{{ product.name }}</h3>
        <small class="text-muted">ID: {{ product.id }}</small>
    </div>
    <form action="{% url 'products:edit' %}?id={{ product.id }}" method="post">
        {% csrf_token %}
        <!-- ID -->
        <input type="hidden" name="id" value="{{ product.id }}">
        <!-- NAME -->
        <div class="input-group mb-3">
            <h6 class=" navbar-text pe-3">Nombre de producto:</h6>
            <span class="input-group-text" id="basic-addon1"><span class="fas fa-dice-d6"></span></span>
            <input name="name" type="text" class="form-control" placeholder="Nombre de producto" value="{{ product.name }}" required>
        </div>
        <!-- SELL PRICE -->
        <small><i>*Nota: El precio del producto NO debe de incluir el IVA al estar activo, el sistema cálcula automáticamente el IVA sobre el PRECIO del producto.</i></small>
        <div class="input-group mb-3">
            <h6 class=" navbar-text pe-3">Precio de producto:</h6>
            <span class="input-group-text" id="basic-addon1"><span class="fas fa-dollar-sign"></span></span>
            <input name="price" type="number" class="form-control" placeholder="Precio de venta de producto" value="{{ product.sell_price|floatformat:-1 }}" step="any" required>
            <!-- IVA -->
            <div class="form-check form-switch m-2">
                <input class="form-check-input" type="checkbox" name="iva" id="flexSwitchCheckChecked" 
                {% if product.iva %}
                    checked
                {% endif %}
                    >
                <label class="form-check-label" for="flexSwitchCheckChecked">IVA</label>
            </div>
        </div>
        <!-- CATEGORY -->
        <div class="input-group mb-3">
            <h6 class=" navbar-text pe-3">Categoria:</h6>
            <label class="input-group-text" for="inputGroupSelect01"><span class="fas fa-list"></span></label>
            <select name="category" class="form-select" id="inputGroupSelect01" required>
                <option disabled value="" selected>Seleccione...</option>
                {% for category in categorys %}
                <option value="{{category.id}}" {% if category.id == product.category.id %}selected{% endif %}>{{category.name}}</option>
                {% endfor %}
            </select>
        </div>
        <!-- VENDOR -->
        <div class="input-group mb-3">
            <h6 class=" navbar-text pe-3">Vendedor:</h6>
            <label class="input-group-text" for="inputGroupSelect01"><span class="fas fa-truck-ramp-box"></span></label>
            <select name="vendor" class="form-select" id="inputGroupSelect01" required>
                <option disabled value="" selected>Seleccione...</option>
                {% for vendor in vendors %}
                <option value="{{vendor.id}}" {% if vendor.id == product.vendor.id %}selected{% endif %}>{{vendor.name}}</option>
                {% endfor %}
            </select>
        </div>
        <!-- DESCRIPTION -->
        <div class="input-group mb-3">
            <h6 class=" navbar-text pe-3">Descripción:</h6>
            <textarea name="description" class="form-control" aria-label="Ingrese su descripción opcional..." placeholder="Ingrese su descripción opcional...">{{ product.description }}</textarea>
        </div>
        <!-- BAR CODE -->
        <div class="input-group mb-3">
            <h6 class=" navbar-text pe-3">Código de barras:</h6>
            <span class="input-group-text"><span class="fas fa-barcode"></span></span>
            <input name="bar_code" type="text" class="form-control" id="bar-code" placeholder="Código de barras" value="{{ product.bar_code }}" aria-label="Código de barras">
            <label class="btn btn-outline-secondary" for="bar-code">Editar</label>
        </div>
        <!-- SUBMIT -->
        <div class="btn-group input-group" role="group" aria-label="Basic outlined example">
            <a href="{% url 'products:index' %}" class="btn btn-outline-secondary">Cancelar</a>
            <a href="{% url 'products:edit' %}?delete={{ product.id }}" class="btn btn-outline-danger">Eliminar</a>
            <button type="submit" class="btn btn-outline-success">Guardar</button>
        </div>
    </form>
</div>

<script>

    $(document).ready(function() {
        $('#bar-code').on('keydown', function(event) {
            if (event.keyCode === 13) {
                $('#bar-code').prop("readonly", true)
            }
        });
    });
    
</script>
{% endblock %}