{% extends "../sidebar.html" %}

{% block body %}'
{% load static %}
<script src="{% static 'js/jquery-3.7.1.js' %}"></script>
<script src="{% static 'js/dataTables1.js' %}"></script>
<div class="container align-content-center overflow-auto " style="margin:  5rem auto;">
    <h3 class="m-0">Productos</h3>
    <small><a href="{% url 'products:create' %}">Añadir</a></small>
    <table id="productos" class="display table table-striped table-bordered table-hover dataTable" style="width:100%;">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Categoria</th>
                <th>Vendedor</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td class=" d-flex justify-content-between">{{product.name}}<a href="{% url 'products:edit' %}?id={{ product.id }}">Editar</a></td>
                <td>{{product.sell_price}}</td>
                <td>{{product.stock}}</td>
                <td>{{product.category}}</td>
                <td>{{product.vendor}}</td>
            </tr>    
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Categoria</th>
                <th>Vendedor</th>
            </tr>
        </tfoot>
    </table>
</div>
<script>
    new DataTable('#productos');
</script>
{% endblock %}