{% extends "../sidebar.html" %}

{% block body %}
{% load static %}
<script src="{% static 'js/jquery-3.7.1.js' %}"></script>
<script src="{% static 'js/jquery.priceformat.min.js' %}"></script>
<div class="container align-content-start overflow-auto text-center" style="margin:  2rem auto; width: 65vw;">
    <div class="form-group">
        <h3 class="m-0">{{category.name}}</h3>
        <small class="text-muted">ID: {{category.id}}</small>
    </div>
    <form action="{% url 'categorys:edit' %}" method="post">
        {% csrf_token %}
        <!-- ID -->
        <input type="hidden" name="id" value="{{ category.id }}">
        <!-- NAME -->
        <div class="input-group mb-3">
            <h6 class=" navbar-text pe-3">Nombre de categoria:</h6>
            <span class="input-group-text" id="basic-addon1"><span class="fas fa-dice-d6"></span></span>
            <input name="name" type="text" class="form-control" placeholder="Nombre de producto" aria-label="Nombre de producto" aria-describedby="basic-addon1" value="{{category.name}}" required>
        </div>
        <!-- DESCRIPTION -->
        <div class="input-group mb-3">
            <h6 class=" navbar-text pe-3">Descripción:</h6>
            <textarea name="description" class="form-control" aria-label="With textarea">{{category.description}}</textarea>
        </div>
        <!-- SUBMIT -->
        <div class="btn-group input-group" role="group" aria-label="Basic outlined example">
            <a href="{% url 'categorys:index' %}" class="btn btn-outline-secondary">Cancelar</a>
            <a href="{% url 'categorys:edit' %}?delete={{ category.id }}" class="btn btn-outline-danger">Eliminar</a>
            <button type="submit" class="btn btn-outline-success">Guardar</button>
        </div>
    </form>
</div>

<script>
    
    $('#buy-price').priceFormat({
        prefix: '',
        centsLimit: 0
    });
    $('#sell-price').priceFormat({
        prefix: '',
        centsLimit: 0
    });

    $(document).ready(function() {
        $('#icon-sel').on('click', function(event) {
            alert('button');
        });
    });
    
</script>
{% endblock %}