{% extends "../sidebar.html" %}

{% block body %}'
{% load static %}
<script src="{% static 'js/jquery-3.7.1.js' %}"></script>
<script src="{% static 'js/dataTables1.js' %}"></script>
<div class="container align-content-center overflow-auto " style="margin:  5rem auto;">
    <h3 class="m-0">Categorias</h3>
    <small><a href="{% url 'categorys:create' %}">Añadir</a></small>
    <table id="productos" class="display table table-striped table-bordered table-hover dataTable" style="width:100%;">
        <thead>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class=" d-flex justify-content-between">Tiger Nixon<a href="{% url 'categorys:edit' %}">Editar</a></td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011-04-25</td>
                <td>$320,800</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
        </tfoot>
    </table>
</div>
<script>
    new DataTable('#productos');
</script>
{% endblock %}