{% extends "./sidebar.html" %}

{% block body %}
<div class="modal fade show" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="position: static; padding-right: 17px; display: block;">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class=" bg-primary text-white">
            <div class="modal-header row justify-content-center align-items-center g-2">
                <div class="col">
                    <h5 class="modal-title" id="exampleModalLabel">
                        <i class="fa fa-tag"></i>
                        Editar categoria ID: {{category.id}}
                    </h5>
                </div>
                <div class="col d-flex" style="justify-content: flex-end;">
                    <form method="post" action="{% url 'deleteCategory' %}">
                        {% csrf_token %}
                        <button type="submit" name="categoryId" id="categoryId" value="{{category.id}}" class="btn btn-danger" onclick='confirm("¿Estás seguro de que deseas eliminar este cliente?")' style="justify-self: flex-end;">Eliminar</button>
                    </form>
                </div>
            </div>
        </div>
        
          <div class="modal-body">
            <form method="post" action="{% url 'editCategory' %}">
            {% csrf_token %}
            <div class="form-group">
                <input type="hidden" name="categoryId" value="{{category.id}}">
                <label for="txtCategoryName">Nombre de categoria</label>
                <input type="text" class="form-control" name="txtCategoryName" id="txtCategoryName" value="{{category.name}}" placeholder="Ingresa el nombre del vendedor..." required="1">
                <small class="text-muted">Asegurate que sea único.</small>
            </div>
            <div class="form-group">
              <label for="textAreaCategoryDescription">Descripción <small class="text-muted">(Opcional)</small></label>
              <textarea name="textAreaCategoryDescription" id="textAreaCategoryDescription" class="form-control" cols="80" 
              placeholder="{% if category.description == '' %}Sin descripción...{% else %}{{category.description}}{% endif %}"
              >{% if category.description != '' %}{{category.description}}{% endif %}</textarea>
            </div>
            <small class="text-muted"><em>Por favor verifica la información antes de ingresar el producto.</em></small>
          </div>
            <div class="modal-footer">
                <button id="closeAddProduct" class="btn btn-secondary" type="button" data-dismiss="modal"><a href="{% url 'customerList' %}" style="text-decoration: none; color: white;">Cancelar</a></button>
                <input type="submit" class="btn btn-primary" value="Editar producto">
            </div>
        </form>
      </div>
    </div>
  </div>
  <div id="productBackground" style="display: none;" class="modal-backdrop fade show"></div>
{% endblock %}