<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Project</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/simple-line-icons.css' %}">
        <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap4.css' %}">
        <link rel="stylesheet" href="{% static 'css/font-awesome/css/all.css' %}">
    </head>
<body class="bg-secondary" style="--bs-bg-opacity: .20;">
    <div class="container-fluid" style="height: 100vh; width: 100vw; overflow: hidden;">
        <div class="row" style="height: 100vh; width: 100vw;">
            <div class="col-1 container text-center" style="max-height: 100%; overflow:auto;">
                <div class="row d-block align-content-center" style="height: 110px;">
                    <i class="fa-solid fa-bag-shopping fs-1 mb-1"></i>
                    <h4>El Titanic</h4>
                    
                </div>
                <form>
                    <div class="row d-block p-3 pt-0">
                        <label class="categoryItem p-0" data-category="0" id="categoryAll">
                            <input type="radio" name="category" class="categoryRadio" checked>
                            <span class="btn btn-outline-dark rounded w-100 h-100">
                                <i class="fas fa-align-justify"></i>
                                <span class="fs-6 d-block">Todos</span>
                            </span>
                        </label>
                    </div>
                    {% for c in categorys %}
                        <div class="row d-block p-3 pt-0">
                            <label class="categoryItem p-0 categoryLabel" data-category="{{c.id}}">
                                <input type="radio" name="category" class="categoryRadio">
                                <span class="btn btn-outline-dark rounded w-100 h-100">
                                    <i class="{{c.icon}}"></i>
                                    <span class="fs-6 d-block">{{c.name}}</span>
                                </span>
                            </label>
                        </div>
                    {% endfor %}
                </form>
            </div>
            <div class="col-8 overflow-auto" style="max-height: 100vh;">
                <div class="row m-3">
                    <div class="input-group col-12">
                        <input type="text" class="form-control" placeholder="Ingrese su busqueda.." aria-label="Ingrese su busqueda.." id="searchInput">
                        <button class="btn btn-secondary" type="button" id="searchButton"><i class="fas fa-magnifying-glass"></i></button>
                      </div>
                    <!-- <div class="row mt-3 me-1 col-3">
                        <input type="checkbox" name="cbProduct1" id="cbProduct1" class="cbProduct" hidden>
                        <label for="cbProduct1" class="card text-white bg-primary overflow-hidden card-product">
                          <img class="card-img-top" src="holder.js/100px180/" alt="">
                          <div class="card-body row">
                            <div class="col-8">
                                <h4 class="card-title">Galletas Wafer</h4>
                                <p class="card-text">$4000</p>
                            </div>
                            <div class="col-4 align-content-center text-center">
                                <i class="fas fa-plus position-absolute translate-middle plus-product"></i>
                            </div>
                          </div>
                        </label>
                    </div> -->
                    {% for p in products %}
                        <div class="row mt-3 me-1 col-4 productDiv" data-category="{{p.category.id}}" data-active="1">
                            <input type="checkbox" name="cbProduct{{p.id}}" id="cbProduct{{p.id}}" class="cbProduct" data-id="{{p.id}}" data-name="{{p.name}}" data-price="{{p.price}}" hidden>
                            <label for="cbProduct{{p.id}}" class="card text-white bg-primary overflow-hidden card-product">
                            <img class="card-img-top" src="holder.js/100px180/" alt="">
                            <div class="card-body row">
                                <div class="col-11">
                                    <h4 class="card-title productItem">{{p.name}}</h4>
                                    <p class="card-text">${{p.price}}</p>
                                </div>
                                <div class="align-content-center text-center position-absolute">
                                    <i class="fas fa-plus position-absolute translate-middle plus-product"></i>
                                </div>
                            </div>
                            </label>
                        </div>
                    {% endfor %}
                    {% if c_order %}
                    <div class="container mt-3">
                        <div class="toast-container position-fixed bottom-0 start-0 p-3">
                            <div id="liveToast" class="toast bg-light-subtle border-success-subtle" role="alert" aria-live="assertive" aria-atomic="true">
                                <div class="toast-header border-success-subtle bg-success-subtle">
                                    <i class="fas fa-check me-1"></i>
                                    <strong class="me-auto">Éxito!</strong>
                                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                                </div>
                                <div class="toast-body">
                                    Se generó la orden #{{c_order}}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    
                </div>
            </div>
            <div class="col-3 p-2">
                <div class="card text-center h-100">
                    <div class="card-header bg-dark text-bg-dark d-flex" style="--bs-bg-opacity: .85;">
                      <div class="flex-grow-1 text-start align-content-center">
                        <i class="fas fa-cash-register"></i>
                        <b>Caja</b>
                      </div>
                      <div class="">
                        <a class="m-0 btn d-inline-flex btn-light h-100 align-self-center" style="color: black;" href="{% url 'posView' %}">
                            <i class="fas fa-retweet align-self-center"></i>
                        </a>
                        <a class="m-0 btn d-inline-flex btn-danger h-100 align-self-center" style="color: black;" href="{% url 'dashboard' %}">
                            <i class="fas fa-xmark align-self-center"></i>
                        </a>
                        {% if order %}
                        <small class="d-inline-flex px-2 py-1 fw-semibold text-warning-emphasis bg-warning-subtle border border-warning-subtle rounded-2">
                            Orden #{{order.id}}
                        </small>
                        {% endif %}
                      </div>
                    </div>
                    <div class="card-body p-0 pt-2" style="/*max-height: 668px;*/ overflow-y: auto; overflow-x:hidden;">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link {% if not page == 1 %}active{% endif %}" href="{% url 'posView' %}" id="actualOrder" aria-current="page" style="cursor: pointer;">Orden actual</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if page %}active{% endif %}" id="allOrders" style="cursor: pointer;" href="/pos?page=1">Ordenes</a>
                            </li>
                        </ul>
                        <div id="saleProducts" style=" max-height: 65vh; {% if page %}display: none;{% endif %}">
                            {% for item in order_items %}
                            <div class="row card-header m-0 productItem">
                                <div class="col-8">
                                    <div class="pos-product-thumb">
                                        <div class="info">
                                            <div class="title">{{item.product.name}}</div>
                                            <div class="single-price">$<span class="pUnitCount">{{item.price}}</span></div>
                                            <div class="input-group qty">
                                                <div class="input-group-append">
                                                    <button class="saleProductReduce btn btn-default" id="saleProductReduce{{item.product.id}}"><i class="fa fa-minus"></i></button>
                                                </div>
                                                <input type="number" class="form-control saleProductCount" data-id="{{item.product.id}}" data-name="{{item.product.name}}" data-price="{{item.price}}" id="pCount{{item.product.id}}" value="{{item.quantity}}" disabled>
                                                <div class="input-group-prepend">
                                                    <button class="saleProductAdd btn btn-default" id="saleProductAdd{{item.product.id}}"><i class="fa fa-plus"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4 total-price align-content-center fs-4">$<span class="pTotalCount" data-price="{{item.total_price}}" id="pTotalCount{{item.product.id}}">{{item.total_price}}</span></div>
                            </div>
                            {% endfor %}
                        </div>
                        <div id="saleOrders" {% if not page %}style="display: none;"{% endif %}>
                            {% for order in order_pages %}
                                {% if order.status == 2 %}
                                <div class="row bg-success-subtle border border-success-subtle border-1 mt-2 mb-2">
                                    <div class="col-9 justify-content-start d-flex">
                                        <a href="/order?order={{order.id}}" style="text-decoration: none;" class="fs-5 ms-2">Orden #{{order.id}}</a>
                                    </div>
                                    <small class="col-3 mt-1">{{order.get_status_display}}</small>
                                    <div class="col-9 justify-content-start d-flex">
                                        <span class="fs-6 ms-2">
                                            <span>$</span>
                                            <span>{{order.total}}</span>
                                            <small class=" align-content-center"><em>{{order.date}}</em></small>
                                        </span>
                                    </div>
                                    <div class="col-3">
                                        <i class="fas fa-check fs-5 mb-2"></i>
                                    </div>
                                </div>
                                {% elif order.status == 1 %}
                                <div class="row bg-info-subtle border border-info-subtle border-1 mt-2 mb-2">
                                    <div class="col-9 justify-content-start d-flex">
                                        <a href="/order?order={{order.id}}" style="text-decoration: none;" class="fs-5 ms-2">Orden #{{order.id}}</a>
                                    </div>
                                    <small class="col-3 mt-1">{{order.get_status_display}}</small>
                                    <div class="col-9 justify-content-start d-flex">
                                        <span class="fs-6 ms-2">
                                            <span>$</span>
                                            <span>{{order.total}}</span>
                                            <small class=" align-content-center"><em>{{order.date}}</em></small>
                                        </span>
                                    </div>
                                    <div class="col-3">
                                        <i class="fas fa-pen fs-5"></i>
                                    </div>
                                    <a class="col-12 my-1 btn btn-outline-dark p-0" href="/pos?order={{order.id}}"><em>Cargar orden</em></a>
                                </div>
                                {% elif order.status == 3 %}
                                <div class="row bg-danger-subtle border border-danger-subtle border-1 mt-2 mb-2">
                                    <div class="col-9 justify-content-start d-flex">
                                        <a href="/order?order={{order.id}}" style="text-decoration: none;" class="fs-5 ms-2">Orden #{{order.id}}</a>
                                    </div>
                                    <small class="col-3 mt-1">{{order.get_status_display}}</small>
                                    <div class="col-9 justify-content-start d-flex">
                                        <span class="fs-6 ms-2">
                                            <span>$</span>
                                            <span>{{order.total}}</span>
                                            <small class=" align-content-center"><em>{{order.date}}</em></small>
                                        </span>
                                    </div>
                                    <div class="col-3">
                                        <i class="fas fa-xmark fs-5 mb-2"></i>
                                    </div>
                                </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="card-footer bg-dark text-bg-dark p-2" id="allOrdersFooter" style="--bs-bg-opacity: .85; {% if not page %}display: none;{% endif %}">
                        <div class="justify-content-center d-flex dataTables_paginate paging_simple_numbers m-0" id="dataTable_paginate">
                            <ul class="pagination">
                                <li class="paginate_button page-item previous {% if not order_pages.has_previous %}disabled{% endif %}" id="dataTable_previous">
                                    <a href="?page=1" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">
                                      &laquo;
                                    </a>
                                  </li>
                                  {% if order_pages.has_previous %}
                                  <li class="paginate_button page-item">
                                    <a href="?page={{ order_pages.previous_page_number }}" aria-controls="dataTable" data-dt-idx="1" tabindex="0" class="page-link">
                                      {{ order_pages.previous_page_number }}
                                    </a>
                                  </li>
                                  {% endif %}
                                  <li class="paginate_button page-item active">
                                    <a href="?page={{ order_pages.number }}" aria-controls="dataTable" data-dt-idx="1" tabindex="0" class="page-link">
                                      {{ order_pages.number }}
                                    </a>
                                  </li>
                                  {% if order_pages.has_next %}
                                  <li class="paginate_button page-item">
                                    <a href="?page={{ order_pages.next_page_number }}" aria-controls="dataTable" data-dt-idx="1" tabindex="0" class="page-link">
                                      {{ order_pages.next_page_number }}
                                    </a>
                                  </li>
                                  {% endif %}
                                  <li class="paginate_button page-item next {% if not order_pages.has_next %} disabled {% endif %}" id="dataTable_next">
                                    <a href="?page={{ order_pages.paginator.num_pages }}" aria-controls="dataTable" data-dt-idx="2" tabindex="0" class="page-link">
                                      &raquo;
                                    </a>
                                  </li>
                          </ul>
                        </div>

                    </div>
                    <div class="card-footer bg-dark text-bg-dark p-2" id="actualOrderFooter" style="--bs-bg-opacity: .85; {% if page %}display: none;{% endif %}">
                        <div class="row m-0 align-items-center mb-3">
                            <small class="col-7 text-start">Total:</small>
                            <b class="col-5 text-end fs-5" id="totalSale" data-price="0">0</b>
                            <select name="" id="selectCustomer" class="form-select" style="display: none;">
                                <option selected disabled>Seleccione un cliente</option>
                                {% for client in customer %}
                                <option value="{{client.id}}">{{client.name}}</option>
                                {% endfor %}
                            </select>
                            <input type="text" name="bar_code_input" id="bar_code_input" class="form-control mt-1 bg-secondary border-black" style="display: none;" placeholder="Escaneé o escriba el cód. y presione ENTER">
                        </div>
                        <div class="row m-0">
                            <form action="{% url 'posView' %}" class="col-12 mb-2 p-0 m-0" id="saveAsDraft" method="post" style="{% if order %}display: none;{% endif %}">
                                {% csrf_token %}
                                <input type="hidden" name="draft" value="1">
                                <button class="btn btn-outline-light w-100 addOrder" type="submit" disabled>Guardar en borrador</button>
                            </form>
                            <div class="col-3 m-0 p-0">
                                <div class="pe-2 dropstart">
                                    <button type="button" name="" id="" class="btn btn-secondary square-button fs-6" data-bs-toggle="dropdown" aria-expanded="false" style="height: 80px; width: 100%;" data-bs-auto-close="outside">
                                        <i class="fas fa-coins fs-4"></i>
                                        <span class="d-block">
                                            Cal. Vueltas
                                        </span>
                                    </button>
                                    <div class="dropdown-menu p-2" style="width: 900px;">
                                        <div class="card text-warning-emphasis bg-warning-subtle">
                                          <img class="card-img-top" src="holder.js/100px180/" alt="">
                                          <div class="card-body">
                                            <div class="row">
                                                <div class="col">
                                                    <h4 class="card-title">Ingrese el/los billete(s)</h4>
                                                </div>
                                                <div class="col text-end">
                                                    <button class="btn btn-success" id="calculationButton">Calcular</button>
                                                    <button class="btn btn-success" id="reloadButton"><i class="fas fa-retweet"></i></button>
                                                </div>
                                            </div>
                                            <small class="float-right">Para pagar: <b>$</b><b id="inputMAmount">0</b></small>
                                            <div class="row">
                                                <div class="col-4 mt-3 text-center">
                                                    <button class="text-center btn p-0" id="button2000">
                                                        <img src="{% static 'img/money/2.png' %}" class="rounded money-img" alt="2000" height="130px" width="100%">
                                                        <span class="bg-light text-bg-light btn position-absolute money-count"><b>x</b><b id="amount2000">0</b></span>
                                                    </button>
                                                </div>
                                                <div class="col-4 mt-3 text-center">
                                                    <button class="text-center btn p-0" id="button5000">
                                                        <img src="{% static 'img/money/5.png' %}" class="rounded money-img" alt="5000" height="130px" width="100%">
                                                        <span class="bg-light text-bg-light btn position-absolute money-count"><b>x</b><b id="amount5000">0</b></span>
                                                    </button>
                                                </div><div class="col-4 mt-3 text-center">
                                                    <button class="text-center btn p-0" id="button10000">
                                                        <img src="{% static 'img/money/10.png' %}" class="rounded money-img" alt="10000" height="130px" width="100%">
                                                        <span class="bg-light text-bg-light btn position-absolute money-count"><b>x</b><b id="amount10000">0</b></span>
                                                    </button>
                                                </div>
                                                <div class="col-4 mt-3 text-center">
                                                    <button class="text-center btn p-0" id="button20000">
                                                        <img src="{% static 'img/money/20.png' %}" class="rounded money-img" alt="20000" height="130px" width="100%">
                                                        <span class="bg-light text-bg-light btn position-absolute money-count"><b>x</b><b id="amount20000">0</b></span>
                                                    </button>
                                                </div>
                                                <div class="col-4 mt-3 text-center">
                                                    <button class="text-center btn p-0" id="button50000">
                                                        <img src="{% static 'img/money/50.png' %}" class="rounded money-img" alt="50000" height="130px" width="100%">
                                                        <span class="bg-light text-bg-light btn position-absolute money-count"><b>x</b><b id="amount50000">0</b></span>
                                                    </button>
                                                </div>
                                                <div class="col-4 mt-3 text-center">
                                                    <button class="text-center btn p-0" id="button100000">
                                                        <img src="{% static 'img/money/100.png' %}" class="rounded money-img" alt="100000" height="130px" width="100%">
                                                        <span class="bg-light text-bg-light btn position-absolute money-count"><b>x</b><b id="amount100000">0</b></span>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="mt-2 text-danger-emphasis bg-danger-subtle rounded border border-danger-subtle p-2" style="display: none;" id="calcAmountDivIns"><h2>Valor insuficiente.</h2></div>
                                            <div class="mt-2 text-success-emphasis bg-success-subtle rounded border border-success-subtle p-2" style="display: none;" id="calcAmountDiv">
                                                <h4>El vuelto es:</h4>
                                                <div class="row">
                                                    <div class="col-4 mb-2" id="divResult100000" style="display: none;">
                                                        <img src="{% static 'img/money/100.png' %}" height="100px">
                                                        <span class="bg-light text-bg-light btn position-absolute result-money-bill"><b>x</b><b id="result100000">0</b></span>
                                                    </div>
                                                    <div class="col-4 mb-2" id="divResult50000" style="display: none;">
                                                        <img src="{% static 'img/money/50.png' %}" height="100px">
                                                        <span class="bg-light text-bg-light btn position-absolute result-money-bill"><b>x</b><b id="result50000">0</b></span>
                                                    </div>
                                                    <div class="col-4 mb-2" id="divResult20000" style="display: none;">
                                                        <img src="{% static 'img/money/20.png' %}" height="100px">
                                                        <span class="bg-light text-bg-light btn position-absolute result-money-bill"><b>x</b><b id="result20000">0</b></span>
                                                    </div>
                                                    <div class="col-4 mb-2" id="divResult10000" style="display: none;">
                                                        <img src="{% static 'img/money/10.png' %}" height="100px">
                                                        <span class="bg-light text-bg-light btn position-absolute result-money-bill"><b>x</b><b id="result10000">0</b></span>
                                                    </div>
                                                    <div class="col-4 mb-2" id="divResult5000" style="display: none;">
                                                        <img src="{% static 'img/money/5.png' %}" height="100px">
                                                        <span class="bg-light text-bg-light btn position-absolute result-money-bill"><b>x</b><b id="result5000">0</b></span>
                                                    </div>
                                                    <div class="col-4 mb-2" id="divResult2000" style="display: none;">
                                                        <img src="{% static 'img/money/2.png' %}" height="100px">
                                                        <span class="bg-light text-bg-light btn position-absolute result-money-bill"><b>x</b><b id="result2000">0</b></span>
                                                    </div>
                                                    <div class="col-3 mb-2 text-center" id="divResult1000" style="display: none;">
                                                        <img src="{% static 'img/money/m1000.png' %}" height="100px">
                                                        <span class="bg-light text-bg-light btn position-absolute result-money-coin"><b>x</b><b id="result1000">0</b></span>
                                                    </div>
                                                    <div class="col-3 mb-2 text-center" id="divResult500" style="display: none;">
                                                        <img src="{% static 'img/money/m500.png' %}" height="100px">
                                                        <span class="bg-light text-bg-light btn position-absolute result-money-coin"><b>x</b><b id="result500">0</b></span>
                                                    </div>
                                                    <div class="col-3 mb-2 text-center" id="divResult200" style="display: none;">
                                                        <img src="{% static 'img/money/m200.png' %}" height="100px">
                                                        <span class="bg-light text-bg-light btn position-absolute result-money-coin"><b>x</b><b id="result200">0</b></span>
                                                    </div>
                                                    <div class="col-3 mb-2 text-center" id="divResult100" style="display: none;">
                                                        <img src="{% static 'img/money/m100.png' %}" height="100px">
                                                        <span class="bg-light text-bg-light btn position-absolute result-money-coin"><b>x</b><b id="result100">0</b></span>
                                                    </div>
                                                    <div class="col-3 mb-2 text-center" id="divResult50" style="display: none;">
                                                        <img src="{% static 'img/money/m50.png' %}" height="100px">
                                                        <span class="bg-light text-bg-light btn position-absolute result-money-coin"><b>x</b><b id="result50">0</b></span>
                                                    </div>
                                                </div>
                                            </div>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3 m-0 p-0">
                                <div class="pe-2">
                                    <input type="checkbox" name="debtClient" id="debtClient" hidden>
                                    <label for="debtClient" id="debtClientLabel" class="btn btn-secondary square-button fs-6 align-content-center" style="height: 80px; width: 100%";>
                                        <i class="fas fa-user-pen d-block fs-4"></i>
                                        Fiar a cliente
                                    </label>
                                </div>
                            </div>
                            <div class="col-3 m-0 p-0">
                                <div class="pe-2">
                                    <input type="checkbox" name="barCode" id="barCode" hidden>
                                    <label for="barCode" id="barCodeLabel" class="btn btn-secondary square-button fs-6 align-content-center" style="height: 80px; width: 100%";>
                                        <i class="fas fa-barcode d-block fs-4"></i>
                                        Ingresar cód.
                                    </label>
                                </div>
                            </div>
                            <div class="col-3 m-0 p-0">
                                <form action="{% url 'posView' %}" class="col-12 mb-2 p-0 m-0" id="saveAsPublish" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="publish" value="1">
                                    {% if order %}
                                    <input type="hidden" name="delete" value="{{order.id}}">
                                    {% endif %}
                                    <input type="hidden" name="debt" id="debt" value="0">
                                    <button type="submit" class="btn btn-success square-button fs-6 addOrder" style="height: 80px; width: 100%;" disabled>
                                        <i class="fas fa-cash-register d-block fs-4"></i>
                                        Realizar orden
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
    <p>{{bc_products}}
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus, velit? Repudiandae earum id mollitia vero numquam eligendi repellendus, libero possimus sunt quidem impedit blanditiis dignissimos adipisci! Odit reprehenderit aut itaque.
    </p>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    {% if order_items %}
        <script>
        let addOrder = document.querySelectorAll('.addOrder');
        addOrder.forEach(addButton => {
            addButton.disabled = false;
        });
        </script>
    {% endif %}
    <script src="{% static 'js/posView5.js' %}" defer></script>
    <script defer>
        const bc_products = JSON.parse("{{bc_products|escapejs}}");

        document.addEventListener('DOMContentLoaded', function () {
            setTimeout(function () {
                var inputBC = document.getElementById('bar_code_input');

                inputBC.addEventListener('keydown', function(event) {
                    if (event.key === 'Enter' || event.keyCode === 13) {
                        event.preventDefault();
                        let input_bc = inputBC.value;
                        if(bc_products[input_bc] && input_bc != 0) {
                            let product = bc_products[input_bc];
                            addProduct(product.id, product.name, product.price);
                        }
                        inputBC.value = '';
                    }
                });
            }, 400);
        });
    </script>
</body>
</html>

