{% extends "./sidebar.html" %}

{% block body %}
<div class="modal fade show" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="position: static; padding-right: 17px; display: block;">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class=" bg-primary text-white">
            <div class="modal-header row justify-content-center align-items-center g-2">
                <div class="col">
                    <h5 class="modal-title" id="exampleModalLabel">
                        <i class="fas fa-boxes-stacked"></i>
                        Inventario de producto ID: {{product.id}}
                    </h5>
                </div>
                <div class="col d-flex" style="justify-content: flex-end;">
                  <a type="submit" href="{% url 'productStockList' %}" name="productId" id="productId" value="{{product.id}}" class="btn btn-secondary" style="justify-self: flex-end;">Volver</a>
                </div>
            </div>
        </div>
        <div class="modal-body">
          <h3>{{product.name}} — {{product.vendor.name}}</h3>
          <hr>
          <div class="row">
            <h4>Valores actuales:</h4>
            <div class="col-6">
              <b class="fs-6">Inventario actual:</b>
            </div>
            <div class="col-6 text-end">
              <span class="fs-6">{{product.stock}}</span>
            </div>
            <div class="col-6">
              <b class="fs-6">Precio de compra:</b>
            </div>
            <div class="col-6 text-end">
              <span class="fs-6">${{product.buy_price}}</span>
            </div>
            <div class="col-6">
              <b class="fs-6">Precio de venta:</b>
            </div>
            <div class="col-6 text-end">
              <span class="fs-6 ms-5">${{product.price}}</span>
            </div>
          </div>
          <hr>
          <div style="max-height: 750px; overflow-y:auto;">
            <table class="table table-striped mt-3 shadow-sm" >
              <thead>
                <tr>
                  <th>Fecha</th>
                  <th>Cantidad</th>
                  <th>Precio de compra</th>
                </tr>
              </thead>
              <tbody>
                {% for item in stock %}
                <tr>
                  <td>{{item.date}}</td>
                  <td>{{item.quantity}}</td>
                  <td>${{item.buy_price}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="productBackground" style="display: none;" class="modal-backdrop fade show"></div>
{% endblock %}