{% extends "./sidebar.html" %}

{% block body %}
<div class="container-fluid align-content-center">
  <div class="card mb-3">
    <div class="row justify-content-center align-items-center g-2 card-header bg-primary text-white">
      <div class="col-10" style="margin: 0;">
        <i class="fa fa-table"></i>
        <a href="{% url 'productStockList' %}" style="color: white;">Inventario</a>
      </div>
      <div class="col-2" style="margin: 0;">
        <a href="#" id="addProduct" class="text-white" data-toggle="modal" data-target="#addProductStockModal">
          <span class="float-right">
            <i class="fa fa-plus"></i>
            Añadir Inventario
          </span>
        </a>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div id="dataTable_filter" class="dataTables_filter">
                <form class="form-inline mt-2 mt-md-0 d-flex" method="post" action="{% url 'productStockList' %}">
                  {% csrf_token %}
                  <input class="form-control mr-sm-2" style="margin-right: 5px;" name="inputSearch" type="text" placeholder="Buscar" aria-label="Buscar" required="1">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                  {% if searchResult == 0 %}
                    <script>alert('Sin resultados');</script>
                  {% endif %}
                </form>
              </div>
            </div>
            <div class="col-sm-12 col-md-6"></div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                <thead>
                  <tr role="row">
                    <th>ID</th>
                    <th>
                      <form method="post" action="{% url 'productStockList' %}">
                        {% csrf_token %}
                        <button type="submit" name="sort_alphabetically" value="1" class="btn"><b>Inventario de producto</b></button>
                      </form>
                    </th>
                    <th>Vendedor</th>
                    <th>Inventario</th>
                  </tr>
                </thead>
                <tbody>
                  {% for ps in page_obj %}
                  <tr role="row">
                    <td>{{ ps.id }}</td>
                    <td>
                      <a href="/stock/item?product={{ps.id}}" class="btn btn-light"><span class="bi pe-none me-2 icon-eye"></span>{{ps.name}}</buttaon>
                    </td>
                    <td>{{ ps.vendor }}</td>
                    <td>{{ ps.stock }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-5">
              <div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">
                Mostrando {{ page_obj.number }} de {{ page_obj.paginator.num_pages }} entrada(s)
              </div>
            </div>
            <div class="col-sm-12 col-md-7">
              <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                <ul class="pagination">
                  <li class="paginate_button page-item previous {% if not page_obj.has_previous %}disabled{% endif %}" id="dataTable_previous">
                    <a href="?page=1" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">&laquo;</a>
                  </li>
                  {% if page_obj.has_previous %}
                  <li class="paginate_button page-item">
                    <a href="?page={{ page_obj.previous_page_number }}" aria-controls="dataTable" data-dt-idx="1" tabindex="0" class="page-link">{{ page_obj.previous_page_number }}</a>
                  </li>
                  {% endif %}
                  <li class="paginate_button page-item active">
                    <a href="?page={{ page_obj.number }}" aria-controls="dataTable" data-dt-idx="1" tabindex="0" class="page-link">{{ page_obj.number }}</a>
                  </li>
                  {% if page_obj.has_next %}
                  <li class="paginate_button page-item">
                    <a href="?page={{ page_obj.next_page_number }}" aria-controls="dataTable" data-dt-idx="1" tabindex="0" class="page-link">{{ page_obj.next_page_number }}</a>
                  </li>
                  {% endif %}
                  <li class="paginate_button page-item next {% if not page_obj.has_next %}disabled{% endif %}" id="dataTable_next">
                    <a href="?page={{ page_obj.paginator.num_pages }}" aria-controls="dataTable" data-dt-idx="2" tabindex="0" class="page-link">&raquo;</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade show" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="padding-right: 17px; display: none;">
  <div class="modal-dialog modal-lg" style=" z-index: 2;" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title" id="exampleModalLabel">
          <i class="fa fa-tag"></i>
          Añadir nuevo inventario
        </h5>
      </div>
      <form action="{% url 'addStock' %}" method="POST">
        {% csrf_token %}
        <div class="modal-body">
          <div class="form-group my-1">
            <span>Vendedor:</span>
            <select name="" id="sVendor" class="form-select" required>
              <option disabled selected>Selecciona un vendedor.</option>
              {% for vendor in vendors %}
              <option value="{{vendor.id}}">{{vendor.name}}</option>
              {% endfor %}
            </select>
            <small>Selecciona un vendedor para mostrar los productos.</small>
          </div>
          <div class="form-group my-1" id="sProduct" style="display: none;">
            <span>Producto:</span>
            <select name="txtProduct" class="form-select" required>
              <option disabled selected>Selecciona un producto.</option>
              {% for product in products %}
              <option value="{{product.id}}" class="sProductItem" data-vendor="{{product.vendor.id}}">{{product.name}}</option>
              {% endfor %}
            </select>
            <small>Aquí solo salen los productos pertenecientes a el <b>vendedor</b> seleccionado.</small>
          </div>
          <div class="form-group">
            <label for="txtQuantity">Cantidad</label>
            <input type="number" class="form-control" name="txtQuantity" id="txtQuantity" placeholder="Ingresa la cantidad..." required="1">
            <small>Asegurate de colocar un signo <b>-</b> en caso de restar inventario, además de no superar el inventario de ese producto al restar existencias.</small>
          </div>
        </div>
        <div class="modal-footer">
          <button id="closeAddProduct" class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
          <input type="submit" class="btn btn-primary" value="Añadir inventario">
        </div>
      </form>
    </div>
  </div>
  <div id="productBackground" style="background-color: black; width: 100%; height: 100%; position: absolute; z-index: 1; left: 0; top: 0; opacity: 0.5; display: none;"></div>
</div>
<script>
document.addEventListener('DOMContentLoaded', function () {
  var sVendor = document.getElementById('sVendor');
  var sProduct = document.getElementById('sProduct');
  var sProductItem = document.querySelectorAll('.sProductItem');
  
  sVendor.addEventListener('change', function() {
    const selectedOption = this.options[this.selectedIndex].value;
    sProduct.style.display = 'block';
    sProductItem.forEach(item => {
      item.style.display = 'block';
    })
    sProductItem.forEach(item => {
      vendor = item.getAttribute('data-vendor');
      if (vendor != selectedOption) {
        item.style.display = 'none';
      }
    })
  })
})

</script>
{% endblock %}
