{% extends "./sidebar.html" %}

{% block body %}'
{% load static %}
<script src="{% static 'js/jquery-3.7.1.js' %}"></script>
<script src="{% static 'js/jquery.priceformat.min.js' %}"></script>
<div class="container-fluid p-3 row bg-secondary-subtle overflow-y-auto">
    <div class="row col-12 p-0">
        <div class="gap-2">
            <div class="col-12 row me-0 ms-0">
                <div class="card bg-primary-subtle border-primary-subtle d-inline-block col me-3" style="width: 100%; height: 120px;">
                    <div class="card-body bg-primary-subtle">
                        <h5 class="card-title">Hoy</h5>
                        <hr>
                        <span class="report_price badge bg-primary text-bg-primary fs-6">{{t_today}}</span>
                    </div>
                </div>
                <div class="card d-inline-block col me-3" style="width: 100%; height: 120px;">
                    <div class="card-body">
                        <h5 class="card-title">Ayer</h5>
                        <hr>
                        <span class="report_price badge bg-primary text-bg-primary fs-6">{{t_yesterday}}</span>
                    </div>
                </div>
                <div class="card d-inline-block col me-3" style="width: 100%; height: 120px;">
                    <div class="card-body">
                        <h5 class="card-title">7 días</h5>
                        <hr>
                        <span class="report_price badge bg-primary text-bg-primary fs-6">{{t_week}}</span>
                    </div>
                </div>
                <div class="card d-inline-block col" style="width: 100%; height: 120px;">
                    <div class="card-body">
                        <h5 class="card-title">30 días</h5>
                        <hr>
                        <span class="report_price badge bg-primary text-bg-primary fs-6">{{t_month}}</span>
                    </div>
                </div>
            </div>
            <div class="bg-white col-12 p-4 card mt-3" style="height: 40vh;">
                <div id="chartIncome" class="col-6" style="height: 100%; width: 100%;"></div>
            </div>
            <div class="bg-white col-12 p-4 card mt-3" style="height: 40vh;">
                <div id="chartProfit" class="col-6" style="height: 100%; width: 100%;"></div>
            </div>
        </div>
        <div class="gap-2 mt-3">
            <div class="bg-white p-4 card" style="height: 40vh; overflow:auto;">
                <h3>Últimas ventas</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Cliente</th>
                            <th>Total venta</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        <tr>
                            <td scope="row">{{order.date}}</td>
                            <td>
                                {% if order.customer == None %}
                                    Sin cliente específico
                                {% else %}
                                    {{ order.customer }}
                                {% endif %}
                            </td>
                            <td class="report_price">{{order.total_sell_value}}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="3" class="text-center">No hay ventas recientes.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/chart.js' %}"></script>
    <script>
    $(document).ready(function() {
        $.each($(".report_price"), function (indexInArray, valueOfElement) {
            let number = $(this).text()
            $(this).text(parseInt(number))
            $(this).priceFormat({
                allowNegative: true,
                centsLimit: 0,
                prefix: '$'
            });
        });
    });
	
    </script>
    <script>
  window.onload = function () {
    var dp_income = [
    {% for report in reports %}
     { x: new Date({{report.date|date:"Y"}},({{report.date|date:"m"}})-1,{{report.date|date:"d"}}), y: parseInt({{report.total_income}}) }{% if not forloop.last %},{% endif %}
    {% endfor %}];
    var income = new CanvasJS.Chart("chartIncome", {
        theme: "light2",
        animationEnabled: true,
        title:{ text: "Ventas este mes" },
        data: [
        {
            type: "area",
            color: "rgb(10, 88, 202)",
            dataPoints: dp_income
        }
        ]
    });
    income.render();

    var dp_profit = [
    {% for report in reports %}
     { x: new Date({{report.date|date:"Y"}},({{report.date|date:"m"}})-1,{{report.date|date:"d"}}), y: parseInt({{report.net_profit}}) }{% if not forloop.last %},{% endif %}
    {% endfor %}];
    var profit = new CanvasJS.Chart("chartProfit", {
        theme: "light2",
        animationEnabled: true,
        title:{ text: "Ganancias del mes" },
        data: [
        {
            type: "area",
            color: "rgb(10, 88, 202)",
            dataPoints: dp_profit
        }
        ]
    });
    profit.render();
  }
</script>
{% endblock %}