{% extends "./sidebar.html" %}

{% block body %}
{% load static %}
<script src="{% static 'js/jquery-3.7.1.js' %}"></script>
<script src="{% static 'js/jquery.priceformat.min.js' %}"></script>
<div class="container align-content-start overflow-auto text-center" style="margin:  5rem auto; width: 1000px;">
    <div class="form-group">
        <h3 class="m-0">$name</h3>
        <small class="text-muted">ID: $id</small>
    </div>
    <div class="input-group mb-3">
        <h6 class=" navbar-text pe-3">Nombre de producto:</h6>
        <span class="input-group-text" id="basic-addon1"><span class="fas fa-dice-d6"></span></span>
        <input type="text" class="form-control" placeholder="Nombre de producto" aria-label="Nombre de producto" aria-describedby="basic-addon1" value="$name">
    </div>
    <div class="input-group mb-3">
        <h6 class=" navbar-text pe-3">Precio de compra:</h6>
        <span class="input-group-text">COP$</span>
        <span class="input-group-text" id="buy-price-input">$actualBPrice</span>
        <input type="text" class="form-control" id="buy-price">
    </div>
    <div class="input-group mb-3">
        <h6 class=" navbar-text pe-3">Precio de venta:</h6>
        <span class="input-group-text">COP$</span>
        <span class="input-group-text" id="sell-price-input">$actualSPrice</span>
        <input type="text" class="form-control" id="sell-price">
    </div>
    <div class="input-group mb-3">
        <h6 class=" navbar-text pe-3">Categoria:</h6>
        <label class="input-group-text" for="inputGroupSelect01"><span class="fas fa-list"></span></label>
        <select class="form-select" id="inputGroupSelect01">
            <option selected>Choose...</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
    <div class="input-group mb-3">
        <h6 class=" navbar-text pe-3">Vendedor:</h6>
        <label class="input-group-text" for="inputGroupSelect01"><span class="fas fa-truck-ramp-box"></span></label>
        <select class="form-select" id="inputGroupSelect01">
            <option selected>Choose...</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
      
    <div class="input-group mb-3">
        <h6 class=" navbar-text pe-3">Descripción:</h6>
        <textarea class="form-control" aria-label="With textarea"></textarea>
    </div>

    <div class="input-group mb-3">
        <h6 class=" navbar-text pe-3">Código de barras:</h6>
        <span class="input-group-text"><span class="fas fa-barcode"></span></span>
        <input type="text" class="form-control" id="bar-code" placeholder="Código de barras" aria-label="Código de barras">
        <label class="btn btn-outline-secondary" for="bar-code">Editar</label>
    </div>

    <div class="btn-group input-group" role="group" aria-label="Basic outlined example">
        <button type="button" class="btn btn-outline-secondary">Cancelar</button>
        <button type="button" class="btn btn-outline-danger">Eliminar</button>
        <button type="button" class="btn btn-outline-success">Guardar</button>
    </div>
</div>

<script>
    $('#buy-price').priceFormat({
        prefix: '',
        centsLimit: 0
    });
    $('#sell-price').priceFormat({
        prefix: '',
        centsLimit: 0
    });

    $(document).ready(function() {
        $('#bar-code').on('keydown', function(event) {
            if (event.keyCode === 13) {
                $('#bar-code').prop("disabled", true)
            }
        });
    });
    
</script>
{% endblock %}