{% extends "../sidebar.html" %}

{% block body %}
{% load static %}
<div class="container align-content-start overflow-auto text-center" style="margin:  5rem auto; width: 1000px;">
    <div class="form-group">
        <h3 class="m-0">Crear cliente</h3>
    </div>
    <form action="{% url 'customers:create' %}" method="post">
        {% csrf_token %}
        <!-- NAME -->
        <div class="input-group mb-3">
            <h6 class=" navbar-text pe-3">Nombre de cliente:</h6>
            <span class="input-group-text" id="basic-addon1"><span class="fas fa-user-tag"></span></span>
            <input name="name" type="text" class="form-control" placeholder="Nombre de cliente...">
        </div>
        <!-- SUBMIT -->
        <div class="btn-group input-group" role="group" aria-label="Basic outlined example">
            <a href="{% url 'customers:index' %}" class="btn btn-outline-secondary">Cancelar</a>
            <button type="submit" class="btn btn-outline-success">Guardar</button>
        </div>
    </form>
</div>
{% endblock %}