{% extends "../sidebar.html" %}

{% block body %}'
{% load static %}
<script src="{% static 'js/jquery-3.7.1.js' %}"></script>
<script src="{% static 'js/dataTables1.js' %}"></script>
<div class="container align-content-center overflow-auto " style="margin:  5rem auto;">
    <h3 class="m-0">Clientes</h3>
    <small><a href="{% url 'customers:create' %}">Añadir</a></small>
    <table id="productos" class="display table table-striped table-bordered table-hover dataTable" style="width:100%;">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Deuda</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
            <tr>
                <td class=" d-flex justify-content-between">{{ customer.name }}<a href="{% url 'customers:edit' %}?id={{ customer.id }}">Editar</a></td>
                <td>{{ customer.t_debt }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>Nombre</th>
                <th>Deuda</th>
            </tr>
        </tfoot>
    </table>
</div>
<script>
    new DataTable('#productos');
</script>
{% endblock %}